.lato {
  font-family: 'Lato', sans-serif !important;
}
.quicksand {
  font-family: 'Quicksand', sans-serif !important;
}
.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-bold {
  font-weight: 700;
}
